<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Telebe qeydiyyat</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

</head>

<body>
<div style="width: 30%; margin: auto">
    <a th:href="@{/students/list}" class="btn btn-primary">Telebeler</a>
    <h1>Telebe qedyiyyati</h1>


    <form th:object="${student}" th:action="@{/students/save}" th:method="POST">
        <div class="form-group">
            <label for="student-name">Ad:</label><br/>
            <input class="form-control" id="student-name" type="text" th:field="*{name}">
        </div>

        <div class="form-group">
            <label for="student-surname">Soyad:</label><br/>
            <input class="form-control" id="student-surname" type="text" th:field="*{sureName}">
        </div>

        <input type="submit" value="Yadda saxla" class="btn btn-success">
    </form>
</div>
</body>
</html>
